body, button{
  background-color: #FFFFFC;
  color: #1C2826;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: #1C2826;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: #127D5F;
  text-decoration-thickness: 5px;
}

h1, h4{
  display: flex;
  flex-direction: left;
  font-size: 18px;
}

h2{
  font-size: 70px;
  font-weight: 900;
  margin-right: 90px;
  margin-bottom: 20px;
}

h3{
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

h4{
  text-align: center;
  margin: 0;
}

h5{
  display: flex;
  text-align: center;
  align-content: center;
  align-self: flex-end;
  margin: 0;
  color: #1C2826;
  font-size: 18px;
  margin-bottom: 20px;
}

h6{
  display: block;
  text-align: center;
}

h7{
  font-size: 50px;
  font-weight: bold;
}

.main-giftcard-div{
  padding-bottom: 100px;
}

.main-giftcard-div h7, .main-giftcard-div h3, .main-feedbacks h3{
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.main-giftcard-div h3, .main-feedbacks h3{
  padding-top: 0;
}

.main-feedbacks{
  background-color: #127D5F;
}

.left-column button{
  margin-top: -40px;
  width: 800px;
  margin-right: 10px;
}

.logo-img{
  width: 80px;
  height: 80px;
  display: inline-block;
  z-index: 2;
}

.header-container{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  border-bottom-color: #1C2826;
  border-bottom: solid 2px;
}

.menu-container{
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: left;
}

.menu-container h7{
  margin-left: -40px;
  padding-bottom: 6px;
}

.head{
  margin-left: 20px;
}

.intro-container{
  margin-top: 10px;
  display: flex;
  min-height: 590px;
}

.intro-container h2{
  margin-top: 0px;
  padding-top: 130px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  line-height: 1.4;
}

.left-column{
  flex: left;
  margin-top: -50px;
  width: 70%;
  z-index: 2;
}

.left-column span{
  color: #127D5F;
}

.right-column{
  flex: left;
  width: 40%;
}

.main-picture-img{
  margin-top: 0px;
  margin-left: 20px;
  max-width: 550px;
  transition: transform 0.7s ease-in-out;
}

.main-picture-img:hover{
  transform: scale(1.05);
}

.right-column{
  left: -120px;
}

.rectangle{
  align-items: center;
  justify-self: center;
}

.coffee-img, .coffee-imgs{
  width: 210px;
  height: 220px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9;
  margin-bottom: -140px; 
}

.coffee-imgs{
  width: 160px;
  height: 170px;
  margin-bottom: -190px;
}

.coffee-img:hover, .coffee-imgs:hover, .container:hover .img-container{
  transform: scale(1.2);
}

.hot-container{
  z-index: 20;
}

.m-container{
  background-color:#127D5F;
  color:white;
  padding-left: 30px;
}



.hot-container, .giftcard, .hot-container-2{
  margin-top: -10px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 190px;
}

.hot-container-2, .coffee-img{
  justify-content: space-evenly;
  margin-top: -10px;
  z-index: 19;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: -60px;
  background-color: #F3F7F6;
  border-radius: 20px;
}

.container:hover, .img-container:hover + .container h5, .img-container:hover + .container, .container:hover h5{
  background-color: #1C2826;
  color: white;
}

.img-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 100px;
}

.giftcard{
  width: 40%;
  height: 40%;
  margin: -20px;
  transition: transform 0.15s ease-in-out;
}

.giftcard:hover{
  transform: scale(1.03);
}

.first-row, .second-row{
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
}

#feedbacks{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.feedback-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 20px;
}

.container-feedback{
  padding-top: 10px; 
  padding-left: 20px;
  width: 500px;
  min-height: 150px;
  border: 10px;
  color: #FFFFFC;
  background-color: #1C2826;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 20px;
}

.container-feedback:hover{
  background-color: #324845;
}

.profile{
  display: flex;
  align-items: center;
}

.name{
  display: flex;
  flex-direction: row;
}

.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.left{
  display: flex;
  flex: right;
  width: 50%;
  flex-direction: row;
}

.right{
  display: flex;
  flex: right;
  width: 50%;
}

.square{
  width: 100%;
  height: 300px;
  background-color: #127D5F;
  display: flex;
  flex-direction: row;
}

.footer{
  margin-right: 0% 0% 0% 0%;
  background-color: #1C2826;
  color:#FFFFFC;
  width: 100%;
  min-height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-div{
  margin: 1.2% 5% 0% 5%;
}

.footer p, .footer span{
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.footer h5{
  color:#FFFFFC;
  margin: auto;
}

.logo{
  width: 60px;
  height: 60px;
}

.containers{
  display: flex;
  justify-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

.containers h10{
  display: flex;
  justify-self: center;
  margin-left: 0;
}

.feedback-word{
  margin-top: 60px;
  color:#FFFFFC;
  margin-bottom: 50px;
}

.main-feedbacks h3{
  color: #FFFFFC;
}








